@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sarabun:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
body {
    font-family: "PT Serif", "serif";
    background-color: #f2f2f2;
    line-height: 1.6;
    font-size: 18px;
    color: #0a0a0a;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    color: #f553d2;
}

img {
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.heading h1, h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.heading p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #595959;
}

.heading {
    margin-top: 1em;
    margin-bottom: 1em;
}

ol, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.flex {
    display: flex;
    justify-content: center;
}

blockquote {
    font-style: italic;
    margin-left: 0.5em;
    font-size: 20px;
}
 */